button {
  color: white;
  box-shadow: 0;
  border:none;
}

button:focus {
  border:none;
}

#content-box{
  width:500px;
}

#quote-box{
  border-radius: 3px; padding:40px; margin:40px;
}

#quote{
  font-size: 24px;
}

#icon-quote{
  margin-right: 6px;
}

#icon-social{
  font-size:
}


#author{
  font-size: 11px;
  margin-top: 15px;
}

#author a {
  background-color: white;
}
