body {
  background-color: pink !important;
}

button {
  color: white;
  background-color: pink;
  box-shadow: 0;
  border:none;
}

button:focus {
  border:none;
}

.content-color {
  color: pink;
}

#content-box{
  width:500px;
}

#quote-box{
  border-radius: 3px; padding:40px; margin:40px;
}

#quote{
  font-size: 20px;
}

#icon-quote{
  margin-right: 6px;
}

#icon-social{
  font-size:
}

#author{
  font-size: 11px;
  margin-top: 15px;
}

#author a {
  color: pink;
  background-color: white;
}
#author a:hover {
  color: red;
}
