body {
  background-color: pink !important;
}


.content-color {
  color: pink;
}

button {
  color: white;
  background-color: pink;
  box-shadow: 0;
  border:none;
}

button:focus {
  border:none;
}
